In [5]:

import pandas as pd
import numpy as np

df = pd.read_csv('Admission_Predict.csv') 
df.head

<bound method NDFrame.head of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
395         396        324          110                  3  3.5   3.5  9.04
396         397        325          107                  3  3.0   3.5  9.11
397         398        330          116                  4  5.0   4.5  9.45
398         399        312          103                  3  3.5   4.0  8.78
399         400        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [6]:
df.loc[ df['Chance of Admit']<0.8 , 'Chance of Admit' ] = 0
df.loc[ df['Chance of Admit']>=0.8 , 'Chance of Admit' ] = 1

KeyError: 'Chance of Admit'

In [ ]:
df.head

In [ ]:
x = df.drop(  ['Chance of Admit' , 'Serial No.'] , axis = 1  )
y = df['Chance of Admit']

In [7]:
df.head

<bound method NDFrame.head of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
395         396        324          110                  3  3.5   3.5  9.04
396         397        325          107                  3  3.0   3.5  9.11
397         398        330          116                  4  5.0   4.5  9.45
398         399        312          103                  3  3.5   4.0  8.78
399         400        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.76
2           1              0.72
3           1              0.80
4           0              0.65
..        ...               ...
395         1              0.82
396         1              0.84
397         1              0.91
398         0              0.67
399         1              0.95

[400 rows x 9 columns]>

In [10]:
df.iloc[ : , 1:5]

     GRE Score  TOEFL Score  University Rating  SOP
0          337          118                  4  4.5
1          324          107                  4  4.0
2          316          104                  3  3.0
3          322          110                  3  3.5
4          314          103                  2  2.0
..         ...          ...                ...  ...
395        324          110                  3  3.5
396        325          107                  3  3.0
397        330          116                  4  5.0
398        312          103                  3  3.5
399        333          117                  4  5.0

[400 rows x 4 columns]